In [7]:
import numpy as np
import pandas as pd

In [8]:
dataset = pd.read_csv("Kaggle_Dataset_Perth_Housing.csv")
dataset

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33651,9C Gold Street,South Fremantle,1040000,4,3,2.0,292,245,2013.0,16100,Fremantle Station,1500,03-2016\r,6162,-32.064580,115.751820,CHRISTIAN BROTHERS' COLLEGE,1.430350,49.0
33652,9C Pycombe Way,Westminster,410000,3,2,2.0,228,114,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.867055,115.841403,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.679644,35.0
33653,9D Pycombe Way,Westminster,427000,3,2,2.0,261,112,NaN,9600,Stirling Station,4600,02-2017\r,6061,-31.866890,115.841418,JOHN SEPTIMUS ROE ANGLICAN COMMUNITY SCHOOL,1.669159,35.0
33654,9D Shalford Way,Girrawheen,295000,3,1,2.0,457,85,1974.0,12600,Warwick Station,4400,10-2016\r,6064,-31.839680,115.842410,GIRRAWHEEN SENIOR HIGH SCHOOL,0.358494,NaN
33655,9E Margaret Street,Midland,295000,3,1,2.0,296,95,NaN,16700,Midland Station,1700,05-2016\r,6056,-31.882163,116.014755,LA SALLE COLLEGE,1.055564,53.0

In [9]:
dataset.shape

(33656, 19)

In [3]:
dataset["DATE_SOLD"] = dataset["DATE_SOLD"].str.replace("\r","")

In [4]:
#Duplicating rows and randomly adding in the dataset

print("\nShape : ", dataset.shape)
rows_to_duplicate = np.random.randint(0,dataset.shape[0],size=1000)
selected_rows = dataset.iloc[rows_to_duplicate]
dataset = pd.concat([dataset,selected_rows],ignore_index=True)
dataset = dataset.sample(frac=1).reset_index(drop=True)
print("\nShape after duplicating rows : ", dataset.shape,"\n")
print(dataset)

Shape :  (33656, 19)

Shape after duplicating rows :  (34656, 19)

                    ADDRESS         SUBURB    PRICE  BEDROOMS  BATHROOMS  \
0         26 Mcveigh Street      Singleton   459000         4          2
1           262 York Street        Subiaco  1085000         2          1
2         15A Maritana Road       Kallaroo   465000         3          1
3          63 Unnaro Street        Hillman   248000         3          1
4      25 James Gilmour Way          Darch   325000         4          2
...                     ...            ...      ...       ...        ...
34651       16 Jingana Road  Banksia Grove   345000         3          2
34652    3 Hitchcock Street       St James   575000         3          1
34653     16 Badrick Street        Warwick   680000         4          2
34654    11a Hayburn Street    Scarborough   817500         3          2
34655    243 Kalamunda Road     Maida Vale   620000         4          2

       GARAGE  LAND_AREA  FLOOR_AREA  BUILD_YEAR  CBD_DIST  \
0         2.0        810         182      2000.0     55500
1         1.0        406         108      1900.0      3100
2         2.0       1066         100      1976.0     20800
3         1.0        699          79      1970.0     37800
4         2.0        564         246      2006.0     14800
...       ...        ...         ...         ...       ...
34651     1.0        300         117      2010.0     28600
34652     1.0        765         147      1981.0      7000
34653     1.0        721         200      1971.0     13100
34654     2.0        354         228      2002.0      9800
34655     1.0       1916         192      1986.0     15800

              NEAREST_STN  NEAREST_STN_DIST DATE_SOLD  POSTCODE   LATITUDE  \
0        Mandurah Station              9400   04-2016      6175 -32.443160
1         Subiaco Station               254   03-2020      6008 -31.946030
2       Whitfords Station              3300   06-2016      6025 -31.789940
3      Rockingham Station               950   03-2009      6168 -32.282580
4       Greenwood Station              5500   08-2015      6065 -31.820450
...                   ...               ...       ...       ...        ...
34651    Clarkson Station              6100   06-2017      6031 -31.700286
34652   Welshpool Station              1900   12-2018      6102 -32.001890
34653     Warwick Station               745   07-2015      6024 -31.844430
34654    Stirling Station              3100   10-2019      6019 -31.902381
34655     Midland Station              7500   10-2017      6057 -31.955670

        LONGITUDE                                NEAREST_SCH  \
0      115.757170                          COMET BAY COLLEGE
1      115.826430                        PERTH MODERN SCHOOL
2      115.749430        ST MARK'S ANGLICAN COMMUNITY SCHOOL
3      115.765910                     KOLBE CATHOLIC COLLEGE
4      115.841220                  ASHDALE SECONDARY COLLEGE
...           ...                                        ...
34651  115.801334             JOSEPH BANKS SECONDARY COLLEGE
34652  115.904800                            CANNING COLLEGE
34653  115.804220                 WARWICK SENIOR HIGH SCHOOL
34654  115.773237  INTERNATIONAL SCHOOL OF WESTERN AUSTRALIA
34655  116.026230               DARLING RANGE SPORTS COLLEGE

       NEAREST_SCH_DIST  NEAREST_SCH_RANK
0              3.091502              35.0
1              0.946706               1.0
2              1.134980              58.0
3              1.159382              97.0
4              0.982198              75.0
...                 ...               ...
34651          0.483366              92.0
34652          1.108131               NaN
34653          1.237553               NaN
34654          0.598028               NaN
34655          2.654778             137.0

[34656 rows x 19 columns]

In [5]:
print("NA values : \n")
print(dataset.isna().sum())

#Creating Empty Values

create_na_columns = ['PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN_DIST', 'NEAREST_SCH_DIST']
for create_na_col in create_na_columns:
    rand = np.random.randint(2000,3001)
    
    indices = np.random.choice(dataset.shape[0], size=rand, replace=False)
    dataset.loc[indices,create_na_col] = np.nan

print("\nNA values after transformation :\n")
print(dataset.isna().sum())
dataset

NA values :

ADDRESS                 0
SUBURB                  0
PRICE                   0
BEDROOMS                0
BATHROOMS               0
GARAGE               2537
LAND_AREA               0
FLOOR_AREA              0
BUILD_YEAR           3256
CBD_DIST                0
NEAREST_STN             0
NEAREST_STN_DIST        0
DATE_SOLD               0
POSTCODE                0
LATITUDE                0
LONGITUDE               0
NEAREST_SCH             0
NEAREST_SCH_DIST        0
NEAREST_SCH_RANK    11284
dtype: int64

NA values after transformation :

ADDRESS                 0
SUBURB                  0
PRICE                2826
BEDROOMS             2568
BATHROOMS            2309
GARAGE               4398
LAND_AREA            2567
FLOOR_AREA           2415
BUILD_YEAR           5818
CBD_DIST             2825
NEAREST_STN             0
NEAREST_STN_DIST     2540
DATE_SOLD               0
POSTCODE                0
LATITUDE                0
LONGITUDE               0
NEAREST_SCH             0
NEAREST_SCH_DIST     2827
NEAREST_SCH_RANK    11284
dtype: int64

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,26 Mcveigh Street,Singleton,459000.0,NaN,2.0,2.0,810.0,182.0,NaN,55500.0,Mandurah Station,9400.0,04-2016,6175,-32.443160,115.757170,COMET BAY COLLEGE,3.091502,35.0
1,262 York Street,Subiaco,1085000.0,2.0,1.0,1.0,406.0,108.0,1900.0,3100.0,Subiaco Station,254.0,03-2020,6008,-31.946030,115.826430,PERTH MODERN SCHOOL,0.946706,1.0
2,15A Maritana Road,Kallaroo,465000.0,3.0,1.0,2.0,1066.0,NaN,1976.0,20800.0,Whitfords Station,NaN,06-2016,6025,-31.789940,115.749430,ST MARK'S ANGLICAN COMMUNITY SCHOOL,1.134980,58.0
3,63 Unnaro Street,Hillman,248000.0,3.0,1.0,1.0,699.0,79.0,1970.0,37800.0,Rockingham Station,950.0,03-2009,6168,-32.282580,115.765910,KOLBE CATHOLIC COLLEGE,1.159382,97.0
4,25 James Gilmour Way,Darch,325000.0,4.0,2.0,2.0,564.0,NaN,2006.0,14800.0,Greenwood Station,5500.0,08-2015,6065,-31.820450,115.841220,ASHDALE SECONDARY COLLEGE,0.982198,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34651,16 Jingana Road,Banksia Grove,345000.0,3.0,2.0,1.0,300.0,117.0,2010.0,28600.0,Clarkson Station,6100.0,06-2017,6031,-31.700286,115.801334,JOSEPH BANKS SECONDARY COLLEGE,0.483366,92.0
34652,3 Hitchcock Street,St James,575000.0,3.0,1.0,1.0,765.0,147.0,1981.0,7000.0,Welshpool Station,1900.0,12-2018,6102,-32.001890,115.904800,CANNING COLLEGE,1.108131,NaN
34653,16 Badrick Street,Warwick,680000.0,4.0,2.0,1.0,721.0,200.0,1971.0,NaN,Warwick Station,745.0,07-2015,6024,-31.844430,115.804220,WARWICK SENIOR HIGH SCHOOL,1.237553,NaN
34654,11a Hayburn Street,Scarborough,817500.0,3.0,2.0,2.0,354.0,228.0,2002.0,9800.0,Stirling Station,3100.0,10-2019,6019,-31.902381,115.773237,INTERNATIONAL SCHOOL OF WESTERN AUSTRALIA,0.598028,NaN
34655,243 Kalamunda Road,Maida Vale,620000.0,4.0,2.0,1.0,1916.0,192.0,NaN,15800.0,Midland Station,7500.0,10-2017,6057,-31.955670,116.026230,DARLING RANGE SPORTS COLLEGE,2.654778,137.0

In [6]:
dataset.info()
dataset.to_csv("uncleaned_dataset.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34656 entries, 0 to 34655
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           34656 non-null  object
 1   SUBURB            34656 non-null  object
 2   PRICE             31830 non-null  float64
 3   BEDROOMS          32088 non-null  float64
 4   BATHROOMS         32347 non-null  float64
 5   GARAGE            30258 non-null  float64
 6   LAND_AREA         32089 non-null  float64
 7   FLOOR_AREA        32241 non-null  float64
 8   BUILD_YEAR        28838 non-null  float64
 9   CBD_DIST          31831 non-null  float64
 10  NEAREST_STN       34656 non-null  object
 11  NEAREST_STN_DIST  32116 non-null  float64
 12  DATE_SOLD         34656 non-null  object
 13  POSTCODE          34656 non-null  int64
 14  LATITUDE          34656 non-null  float64
 15  LONGITUDE         34656 non-null  float64
 16  NEAREST_SCH       34656 non-null  object
 17  NEAREST_SCH_DIST  31829 non-null  float64
 18  NEAREST_SCH_RANK  23372 non-null  float64
dtypes: float64(13), int64(1), object(5)
memory usage: 5.0+ MB